# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing...
test*/

/lib/db/dbinfo.json
/pages/api/genkidama/src/conf

# 後でコメントはずす。初回アプロードjは画像ごと入れたいので、コメントアウトしておく
/public/posts/

# python cache
__pycache__/

# cropperで作成される.zipファイル 
/pages/api/cropper/pics/*.zip

# 記事の画像表示等を入れ、プレビューを確認するためのフォルダ
/posts/

# pwd
pwd.txt

# コピペ用。md-template。
# front-matterや目次htmlのテンプレ
template.md

# 手動でmongodbを更新した時のmongoshコマンド
mongo-manual.txt

# メモ用。pwdもここに移した。
/memo/

# dbのバックアップ
/backup-*.json

# App Router。移行がある程度済むまでignore。
/app/