.sideBarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid darkgray;
  background-color: #eaeaea;

  min-width: 320px;
  /* test */
  /* width: 320px; */
}

.content {
  width: 90%;
}

.contentAuthor {
  /* stickyにしたい場合は下のコメントはずしてください */
  /* position: sticky; 
  top: 4.5rem;
  */
  /* stickyにしたい場合は下をコメントアウトしてください。 */
  margin-top: 2rem;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  background-color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contentTweets {
  /* stickyにしたい場合は下のコメントはずしてください */
  /* position: sticky;
  top: 20rem; */
  /* stickyにしたい場合は下をコメントアウトしてください。 */
  margin-top: 2rem;
}

.itemRow {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px darkgray;
}


.itemColumn {
  margin-top: 10px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px darkgray;
  font-size: 0.9rem;
}

.itemColumnText {
  margin-left: 1rem;
  font-size: 0.8rem;
}


.field {
  color: #8F8F8F;
}

.iconWrapper {
  display: inline-block;
  text-align: center;
  min-width: 1rem;
}

.fieldText {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (max-width:950px) {
  .sideBarContainer {
    width: 100%;
    border-left: none;
    background-color: #fff;
    border-top: 2px solid #eaeaea;
  }

  .contentAuthor {
    display: static;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 35%;
  }

  .contentTweets {
    display: none;
  }
}

@media screen and (max-width:900px) {
  .contentAuthor {
    width: 50%;
  }
}

@media screen and (max-width:600px) {
  .contentAuthor {
    width: 80%;
  }
}