/*blogLink*/
.wrapper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 75%;
  height: 350px;
  border: 4px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition-duration: 0.5s;
}

.wrapper:hover {
  transform: scale(1.05, 1.05);
}

.imgWrapper {
  height: 40%;
  width: 100%;
  position: relative;
}

.thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.when {
  color: #999;
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.description {
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  text-align: center;
  word-break: break-word;
}

.summary {
  margin-left: 0.6rem;
}

.summary:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 220px, white);
}

.read {
  display: block;
  position: absolute;
  width: 30%;
  height: 10%;
  left: 65%;
  top: 87%;
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  color: #fff;
  opacity: 0.8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.read:hover {
  background-color: #E91E63;
}

.noDecoration {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme:dark) {
  .wrapper {
    background-color: #f1f1f1;
    color: #333;
  }
}

@media screen and (max-width:1350px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (max-width:750px) {
  .wrapper {
    height: 20rem;
  }

  .when {
    font-size: 0.9rem;
  }

  .logo {
    object-fit: cover;
  }
}