/*
 * md内で直に指定されたclass。
 * CSSモジュールで指定が出来ないのでこのファイルで定義
 */


/*********************************************
 * mdに直HTMLで作った目次に適用されるスタイル
 *********************************************/
.table-of-contents {
  background-color: #f9f5f5;
  width: 80% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table__wrapper {
  margin-block-start: 0;
}

.table__title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.table__custom-link {
  text-decoration: none;
  color: #2c921a;
}

/* 目次内のリンクの幅を広げる。*/
.table-of-contents li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

/* imgやvideoのまわりにborderを付けるCSS */
.img-border {
  padding: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/* 注意書き */
.caution {
  background-color: #f7f7f7;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}

/* codeにファイル名を付けるためのCSS。md内でコード前に<div class="fn">fname</div>のように使う。 */
.fn {
  display: inline-block;
  margin: 1rem 0 0 0 !important;
  width: auto !important;
  align-self: flex-start;
  padding: 0.2rem 1rem 0.2rem 1rem;
  /* background-color: #4d6d6d; */
  background-color: #4f5f5f;
  color: white;
  border-radius: 7px 7px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: 15px;
}

.fn+pre {
  margin-top: 0px !important;
}


@media screen and (max-width:650px) {
  .table-of-contents {
    width: 100% !important;
  }

  /* 目次内のリンクの幅を、スマホの場合はもっと広げる。*/
  .table-of-contents li {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }
}

@media (prefers-color-scheme:dark) {
  .table-of-contents {
    background-color: #3F3F3F;
    /* background-color: #1C262D; */
  }

  .caution {
    background-color: #3f3f3f;
  }
}