.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.articleContainer>p>code,
.articleContainer>ul>li>code,
.articleContainer>ol>li>code,
.articleContainer>code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: #e1e1e1;
  /* widthをはみ出るため、次の行にいくようにする */
  word-break: break-word;
}

/* 
flexだとmarginのcollapseが無く、p要素間のmarginが計32px（16px*2）分
取らる。広く感じるので狭める。 
 */
.articleContainer>p,
.articleContainer>div,
.articleContainer>picture {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

/* 最後の要素は広めにmargin設定 */
.articleContainer>p:last-of-type {
  margin-bottom: 1rem;
}

/* liのリンク文字が横スクロールにならないよう次の行に表示 */
.articleContainer ul li a {
  word-wrap: break-word;
}

/* 
 * p直後のulの間隔が狭いため、marginを設定 
 * div（画像）直後のul、pre直後のulの間隔が狭いため追加
 */
.articleContainer p+ul,
.articleContainer div+ul,
.articleContainer pre+ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*ul 直後のh2が詰まって見えるため、marginを設定*/
.articleContainer ul+h2 {
  margin-top: 2rem;
}

/* videoを真ん中に寄せて表示 */
.articleContainer video {
  display: block;
  margin: auto;
}

.articleContainer>blockquote {
  margin: 0;
}

.articleContainer>* {
  width: 100%;
}

/* mdファイルの<div><img></div>をセンタリングするため */
.articleContainer>div,
.articleContainer>picture {
  text-align: center;
}

.articleContainer>h1 {
  border-left: solid 5px #E91E63;
  background-color: #f7f7f7;
  padding-left: 1rem;
  text-align: center;
}

.articleContainer>h2 {
  border-left: solid 5px #E91E63;
  background-color: #fcfcfc;
  padding-left: 1rem;
}

.articleContainer>ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.articleContainer>ul:last-child {
  margin-bottom: 1rem;
}

.articleContainer>p>img,
.articleContainer>div>img,
.articleContainer>picture>source,
.articleContainer>picture>img,
.articleContainer>aside>div>img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.articleContainer>blockquote>p {
  padding: 0.3rem;
  background-color: #eaeaea;
  font-style: italic;
}

/* ページ内リンクの飛び先の位置調整
　 aタグを使うのは良くないので、移行が終わったらaは削除。
　 移行が済むまでは並行するので、消さないこと。
*/
.articleContainer a,
.articleContainer h2,
.articleContainer h3,
.articleContainer h4,
.articleContainer h5 {
  scroll-margin-top: 1rem;
}

.back {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.back:last-of-type {
  margin-bottom: 1rem;
}

.rowGap {
  row-gap: 2rem;
}

/* adsenseのマージン対策でbodyのbgを#333にしたため、上書きする */
.overrideBC {
  background-color: #fff;
}

/* mdから読み取った部分のダークテーマ */
@media (prefers-color-scheme:dark) {

  .overrideBC {
    background-color: #333;
  }

  .articleContainer {
    background-color: #333;
    color: #e0e0e0;
  }

  /*bodyにbackground-colorつけているので、.articleContainerには不要*/
  .articleContainer>h1 {
    background-color: #383838;
  }

  .articleContainer>h2 {
    background-color: #383838;
  }

  /* ```some-text```で生成されるcode */
  .articleContainer>p>code,
  .articleContainer>ul>li>code,
  .articleContainer>ol>li>code,
  .articleContainer>code {
    background-color: #707070;
    color: #fff;
  }

  /* > で生成される引用部分に適用。 */
  .articleContainer>blockquote>p {
    background-color: #3f3f3f;
    color: white;
  }

  .articleContainer blockquote:not(.articleContainer pre) {
    /*効いてないかも。様子見て削除、、*/
    color: #222;
  }

}

@media screen and (max-width:1200px) {
  .articleContainer {
    width: 90%;
  }
}

@media screen and (max-width:950px) {
  .wrapper {
    flex-direction: column;
  }

  .sideBarContainer {
    width: 100%;
  }
}

@media screen and (max-width:650px) {
  .articleContainer video {
    width: 100%;
    height: auto;
  }
}

/*601px以上でメニューを固定しているため、ページ内リンクがメニューの高さ分ずれてしまうので、調整*/
@media screen and (min-width:601px) {

  .articleContainer a,
  .articleContainer h2,
  .articleContainer h3,
  .articleContainer h4,
  .articleContainer h5 {
    scroll-margin-top: 4rem;
  }
}

@media screen and (max-width:600px) {
  .articleContainer {
    width: 95%;
  }
}