/* prismのcssをoverride */
pre[class*=language-] {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.9em;
}

@media screen and (max-width:650px) {
    pre[class*=language-] {
        font-size: 0.8em;
    }
}