/* prismのcssをoverride */
pre[class*=language-] {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /*!importがないと効かない。。後で消す。*/
    font-size: 0.9em;
}

/* 950pxのbreak-pointに合わせ、文字サイズを小さくする */
@media screen and (max-width:950px) {
    pre[class*=language-] {
        font-size: 0.9rem !important;
    }
}