/*********************************************
 * mdに直HTMLで作った目次に適用されるスタイル
 *********************************************/
.table-of-contents {
    background-color: #f9f5f5;
    width: 80% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table__wrapper {
    margin-block-start: 0;
}

.table__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.table__custom-link {
    text-decoration: none;
    color: #2c921a;
}

@media (prefers-color-scheme:dark) {
    .table-of-contents {
        background-color: #3F3F3F;
        /* background-color: #1C262D; */
    }
}

@media screen and (max-width:650px) {
    .table-of-contents {
        width: 100% !important;
    }

    /* 目次内のリンクの幅を、スマホの場合はもっと広げる。*/
    .table-of-contents li {
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
    }
}