.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex: 1; */
  background-color: #f3f3f3;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  background-color: #333;
  color: #f2f2f2;
  padding: 0;
  margin: 0;
  border-top: solid 1px darkgray;
  border-bottom: solid 1px darkgray;

}

.wrapper {
  width: 33.3%;
}

/* next/image用 */
.nextPic {
  width: 100%;
  height: 100%;
}

.textContent {
  padding: 0rem 1rem;
}

.title {
  border-left: solid 5px #E91E63;
  background-color: #f1f1f1;
  padding-left: 1rem;
}

.links {
  list-style-type: none;
  padding-left: 30px;
}

.item:not(:last-child) {
  margin-bottom: 0.5rem;
}


/* padding-right-short */
.prs {
  padding-right: 7px;
}

.icon {
  box-sizing: border-box;
  margin-right: 1rem;
  width: 19px;
}

.iconSmall {
  box-sizing: border-box;
  margin-right: 7px;
  width: 17px;
}


.noDec {
  color: #383838
}

@media (prefers-color-scheme:dark) {
  .container {
    background-color: #333;
  }

  .title {
    background-color: #383838;
  }
}

@media screen and (max-width:1200px) {
  .wrapper {
    width: 50%;
  }
}

@media screen and (max-width:850px) {
  .container {
    flex-direction: column;
  }

  .wrapper {
    width: 100%;
  }

  .links {
    padding-left: 0px;
    font-size: 1.5rem;
  }

  .item {
    width: 100%;
    text-align: center;
    border: solid 1px #ccc;
  }

  .item:not(:last-child) {
    margin-bottom: 2rem;

  }

  .textContent {
    margin-bottom: 1rem;
  }

  /* next/image用。CLS対策で600px以下の場合はautoにしてみた。*/
  .nextPic {
    height: auto;
  }

  .iconSmall {
    width: 21px;
  }
}