.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex: 1; */
  background-color: #f3f3f3;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  background-color: #333;
  color: #f2f2f2;
  padding: 0;
  margin: 0;
  border-top: solid 1px darkgray;
  border-bottom: solid 1px darkgray;

}

.wrapper {
  width: 33.3%;
}

.textContent {
  padding: 0rem 1rem;
}

.title {
  border-left: solid 5px #E91E63;
  background-color: #f1f1f1;
  padding-left: 1rem;
}

.links {
  list-style-type: none;
  padding-left: 30px;
}

.item:not(:last-child) {
  margin-bottom: 0.5rem;
}


/* padding-right-short */
.prs {
  padding-right: 7px;
}

.icon {
  display: inline-block;
  margin-right: 1rem;
}

.noDec {
  color: #383838
}

@media (prefers-color-scheme:dark) {
  .container {
    background-color: #333;
  }

  .title {
    background-color: #383838;
  }
}

@media screen and (max-width:1200px) {
  .wrapper {
    width: 50%;
  }
}

@media screen and (max-width:850px) {
  .container {
    flex-direction: column;
  }

  .wrapper {
    width: 100%;
  }

  .links {
    padding-left: 0px;
    font-size: 1.5rem;
  }

  .item {
    width: 100%;
    text-align: center;
    border: solid 1px #ccc;
  }

  .item:not(:last-child) {
    margin-bottom: 2rem;

  }

  .textContent {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:600px) {}