.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1d1d1;
}

.commentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    min-height: 5rem;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .16);
    margin-top: 1rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.descriptionWrapper {
    /* width: 60%; */
    text-align: center;
    margin-bottom: 0.5rem;
}


.topic {
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: linear-gradient(90deg, #022648, #27445e);
    /* background: linear-gradient(90deg, #01372a, #03707a); */
}

.replyWrapper {
    border-top: solid 1px #d1d1d1;
    padding-left: 1rem;
    /* アニメーション */
    animation-name: from-top;
    animation-duration: 0.5s;
}


.name {
    font-weight: bold;
    color: #E91E63;
    padding: 5px;
    /* border-bottom: solid 1px lightgray; */
}

.msg {
    /* textareaに改行を入力→DB登録→取得して表示すると、
    　 改行が表示されない。white-spaceをpre-wrapにすると表示される。
    */
    white-space: pre-wrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1rem;
}

.when {
    text-align: right;
    color: darkgray;
    padding-right: 5px;
}

.reply,
.showReply {
    border: none;
    height: 3rem;
}

.reply {
    font-weight: bold;
}

.showReply:not(:last-child) {
    border-bottom: white 1px solid;
}

.commentWrapper:first-child {
    margin-top: 2rem;
}

.commentWrapper:last-child {
    margin-bottom: 1rem;
}


.commentButton {
    position: fixed;
    top: 10%;
    right: 7%;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    /* position: sticky;
    top: 72%; */
    text-align: center;
    /* width: 25%; */
    background-color: #E91E63;
    border: none;
    color: #fff;
    opacity: 0.8;
    font-size: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    margin-top: 20px;
    margin-bottom: 20px;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}

.commentButton:hover {
    transform: scale(1.1, 1.1)
}

@media (prefers-color-scheme:dark) {

    .main {
        background-color: #333
    }

    .commentWrapper {
        background-color: #505050;
    }

    .topic {
        color: black;
        background: linear-gradient(90deg, #f6aeae, #fbdfdf);
    }

    .name {
        color: #f6aeae;
    }
}

/*hoverはPCのみ有効に。タップ後残るので。*/
@media screen and (min-width:1024px) {
    .showReply:hover {
        background-color: #222;
        color: #fff;
    }

    .reply:hover {
        background-color: #740f30;
        color: white;
    }
}

@media screen and (max-width:1024px) {
    .commentButton {
        position: relative;
        width: 50%;
        height: 3em;
        top: 0%;
        right: 0%;
        border-radius: 0%;
    }

    .commentWrapper,
    .descriptionWrapper {
        width: 80%;
    }
}

@media screen and (max-width:850px) {

    .commentButton {
        width: 50%;
    }
}

@media screen and (max-width:600px) {

    .commentWrapper,
    .descriptionWrapper {
        width: 90%;
    }
}

@keyframes from-top {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}