.container {
  position: relative;
  /* z-index: 3; */
  width: 100%;
  background-color: #333;
  text-align: center;
}

.message {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-style: italic;
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #f3f3f3;
  padding: 0.5rem 0;
}

.light {
  color: #f3f3f3;
}

.small {
  font-size: 0.8rem;
}

.large {
  font-size: 1.1rem;
}

.flexOne {
  flex: 1;
}

.iconContainer {
  display: inline-block;
}

.noDecoration {
  color: #f3f3f3;
  margin: 0.3rem 0.7rem;
}

.noDecoration:hover {
  color: #E91E63;
}

.sidePadding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.topPadding {
  padding-top: 0.3rem;
}

.underline {
  text-decoration: underline;
}

@media screen and (max-width:850px) {
  .content {
    flex-direction: column;
    width: 100%;
    border-top: none;
  }

  .flexOne {
    width: 100%;
    border-top: 1px solid #f3f3f3;
    padding: 0.5rem;
  }
}

@media screen and (max-width:600px) {}