.container {
  background-color: #333;
  overflow: hidden;
  position: sticky;
  top: 0px;
}

.myol {
  margin: 0;
  padding: 0;
}

.item,
.ham {
  color: #f2f2f2;
  cursor: pointer;
  float: left;
  font-size: 1.2rem;
  list-style-type: none;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
}

.link {
  color: #f2f2f2;
  text-decoration: none;
}

.item:hover:not(.active) {
  background-color: rgb(0, 0, 0, 0.5);
}

.ham {
  display: none;
  float: right;
  right: 0;
  top: 0;
}

.active {
  background-color: #E91E63;
  color: white;
}

.selected {
  display: none;
}

@media screen and (max-width:600px) {
  .container {
    /* position: absolute; */
    width: 100%;
  }

  .myol {
    position: absolute;
    z-index: 2;
    width: 100%;
  }

  .item {
    display: none;
  }

  .ham {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;

  }

  .spread {
    display: block;
    float: none;
    text-align: left;
  }

  .selected {
    display: block;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.8rem 1rem;
  }

  .active {
    background-color: #E91E63;
  }

  .spread:not(.selected) {
    background-color: #444;
  }

  .hide {
    display: none;
  }

  .show {
    animation-name: from-top;
    animation-duration: 0.5s;
    display: block;
  }

  @keyframes from-top {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes from-bottom {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-100%);
      /* display: none; */
    }
  }

}