.wrapper {
  display: flex;
  flex-direction: row;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* test */
  min-width: 65%;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.back {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.back:last-of-type {
  margin-bottom: 1rem;
}


@media screen and (max-width:1200px) {
  .articleContainer {
    width: 90%;
  }
}

@media screen and (max-width:1024px) {
  .articleContainer {
    width: 90%;
  }
}

/* 
@media screen and (max-width:1024px) {
  .wrapper {
    flex-direction: column;
  }

  .sideBarContainer {
    width: 100%;
  }
} */

@media screen and (max-width:950px) {
  /* .articleContainer {
    width: 90%;
  } */

  .wrapper {
    flex-direction: column;
  }

  .sideBarContainer {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .articleContainer {
    width: 95%;
  }
}