.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likeWrapper {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #eaeaea;
    text-align: center;
}

.thanks {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;

}

.primary {
    color: lightgray;
}

.accent {
    color: #E91E63;
}

.iconWrapper {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
}

.iconWrapper,
.thanks {
    margin-bottom: 0.7rem;
}

.like {
    transition-duration: 0.5s;
}

.like:hover {
    transform: scale(1.2, 1.2);
}

@media screen and (max-width:950px) {
    .likeWrapper {
        width: 85%;
    }
}

@media screen and (max-width:600px) {
    .thanks {
        font-size: 1rem;
    }
}