.container {
    display: flex;
    flex-direction: column;
    /* background-color: #f3f3f3; */
    padding-left: 1rem;
}

@media (prefers-color-scheme:dark) {
    .container {
        background-color: #333;
    }
}

@media screen and (max-width:600px) {}