.container {
  display: flex;
  flex-direction: row;
}

/* 
 * [Responsive対応]
 * SideBarを縦向きに切り替える幅。
 * 幅を変える場合、中に表示しているコンテンツ側の幅調整が必要な場合も想定しておくこと。 
 */
@media screen and (max-width:950px) {
  .container {
    flex-direction: column;
  }
}