.head {
  text-align: center;
  /* border-bottom: dotted 1px black; */
  font-size: 1.1rem;
  font-weight: bold;
}

.item:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.fancyItemWrapper {
  display: flex;
  flex-direction: row;
  height: 8rem;
  /* font-size: 0.9rem; */
  border-top: 1px solid darkgray;
  padding: 1rem 0.5rem 1rem 0.5rem;
  position: relative;
}

/* 
firefoxのみに適用。sidebarのmin-widthがchrome等
と一致しないため、強制させる。
 */
@-moz-document url-prefix() {
  .fancyImageWrapper {
    max-width: 320px;
  }
}

.fancyItemWrapper:last-of-type {
  border-bottom: 1px solid darkgray;
}

.fancyImageWrapper {
  flex-basis: 95px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 0.5rem;
  position: relative;
}

.fancyImage {
  /* width: 100%; */
  /* height: 100%; */
  width: 95px;
  height: 95px;
}

.fancyText {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.when {
  position: absolute;
  right: 5px;
  bottom: 0px;
  color: #777;
}

.rowGap {
  row-gap: 5rem;
}

.withSummary {
  text-decoration: none;
  color: #333;
}

.summaryTitle {
  color: #a4526d;
  text-decoration: underline;
  font-weight: bold;
}

.summary {
  font-size: 0.9rem;
  overflow: hidden;
}

@media screen and (max-width:950px) {
  .container {
    width: 65% !important;
  }
}

@media screen and (max-width:700px) {

  /* 
  Homeページで700px以下になると、画像が縦長になってしまう。
  （FancyBlogLinkをサマリ付きで表示しているため）
  なるべく正方形になるよう、max-heightを設定
  */
  .fancyImageWrapper {
    max-height: 96px;
  }
}

@media screen and (max-width:600px) {

  .container {
    width: 90% !important;
  }

  .itemWrapper {
    padding-inline-start: 20px;
  }

  .item:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  .item:first-of-type {
    margin-top: 2rem;
  }
}

@media (prefers-color-scheme:dark) {
  .withSummary {
    color: white;
  }

  .withSummary:visited {
    color: inherit;
  }

  .when {
    color: #AAA;
  }
}