.container {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #333;
    color: #f2f2f2;
    font-size: 1.2rem;
}

.menuWrapper {
    /* mobile以外はメニューを上部に固定したい。下の要素に重なるのを防ぐため`hidden`必要。*/
    overflow: hidden;
    width: 100%;
}

.mobileBar {
    /* mobile時のみ表示するため、none */
    display: none;
}

.listWrapper {
    /* デフォルトのliのスタイルを無効化 */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listItem {
    /* listを横に並べるため必要 */
    float: left;
}

.link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 0.8rem 1rem;
}

.hamWrapper {
    display: none;
}


.rotateForward {
    transform: rotate(90deg);
}

@media screen and (min-width:601px) {

    /* 選択されていないliタグにhoverした時。mobileでは無効にする*/
    .listItem:hover:not(.active) {
        background-color: #1a1a1a
    }

    /* hoverはモバイルでは無効にする。タップ時に反応してしまうため。 */
    .active {
        background-color: #E91E63;
        color: #f1f1f1;
    }

    .listWrapper .link:focus {
        outline: none;
        background-color: white;
        color: black;
    }
}

@media screen and (max-width:600px) {

    .container {
        position: relative;
    }

    /* mobile用タイトルバーを表示 */
    .mobileBar {
        /* noneなのでblockにする */
        display: block;
    }

    .grid {
        position: absolute;
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s;
        width: 100%;
        background-color: #444;
    }

    .listWrapper {
        /* 
         * gridの子要素に設定する必要あり。
         * grid-template-rows:0fr -> 1frのアニメーション用。
         * 0fr時にはみ出た子要素を非表示にしてくれる。
         */
        overflow: hidden;
    }

    /* アコーディオンを開くアニメーション用 */
    .accordion {
        grid-template-rows: 1fr;
    }

    .listItem {
        /* listを縦に表示するため、rightを無効にする */
        float: none;
    }

    .hamWrapper {
        display: block;
        position: absolute;
        float: right;
        right: 0px;
        /* 広告で上部にpaddingが入る可能性ある。メニューバーの下部に固定 */
        bottom: 0px;
        padding: 0.8rem 1rem;
        z-index: 2;
    }

    .ham {
        transition: transform 0.3s;
    }

    .active {
        /* 
         * mobileのメニューでは、選択されたメニューは表示しない
         * mobileBarで既に表示されているため。
         */
        display: none;
    }
}

/* dark mode用CSS */
@media (prefers-color-scheme:dark) {

    /* 訪問したリンクの色が変わらないので、色を継承 */
    .link:visited {
        color: inherit;
    }
}